In [61]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
# read in data
train=pd.read_csv('/Users/srikarprayaga/Desktop/NW-Modeling-Assessment/TRAIN_SET_2021.csv')
test=pd.read_csv('/Users/srikarprayaga/Desktop/NW-Modeling-Assessment/TEST_SET_2021.csv')

## Exploratory Analysis

In [63]:
train.head()

,RESTAURANT_SERIAL_NUMBER,RESTAURANT_PERMIT_NUMBER,RESTAURANT_NAME,RESTAURANT_LOCATION,RESTAURANT_CATEGORY,ADDRESS,CITY,STATE,ZIP,CURRENT_DEMERITS,...,RECORD_UPDATED,LAT_LONG_RAW,FIRST_VIOLATION,SECOND_VIOLATION,THIRD_VIOLATION,FIRST_VIOLATION_TYPE,SECOND_VIOLATION_TYPE,THIRD_VIOLATION_TYPE,NUMBER_OF_VIOLATIONS,NEXT_INSPECTION_GRADE_C_OR_BELOW
0,DA1117270,PR0004527,SANDS EXPO HALL B2 CONCESSION,SANDS EXPO & CONVENTION CENTER,Snack Bar,201 E Sands Ave,Las Vegas,Nevada,89169-2617,0.0,...,1/6/2015 16:34,"(36.1221442, 115.1652749)",204.0,215.0,302.0,Critical,Major,Imminent Health Hazard,4,0
1,DA1014948,PR0024221,THAI NOODLES CAFE - RESTAURANT,THAI NOODLES CAFE,Restaurant,6710 W CHEYENNE Ave,Las Vegas,Nevada,89108-4588,3.0,...,2/21/2013 22:26,"(36.218691, 115.242913)",214.0,216.0,229.0,Major,Major,Non-Major,5,0
2,DA0861994,PR0019017,SANTA FE SPORTS BOOK GRILL,Santa Fe Station Hotel & Casino,Restaurant,4949 N Rancho Dr,Las Vegas,Nevada,89130-3505,8.0,...,4/6/2015 9:00,"(36.2498922, 115.2441383)",202.0,215.0,233.0,Critical,Major,Non-Major,3,1
3,DA0896719,PR0001343,"Bracken, Walter Elem School Kit","Bracken, Walter Elem School",Elementary School Kitchen,1200 N 27Th St,Las Vegas,Nevada,89101-1517,0.0,...,2/21/2013 22:26,"(36.183669, 115.112355)",214.0,230.0,233.0,Major,Non-Major,Non-Major,3,0
4,DA1031041,PR0006084,HARD ROCK JOINT EAST SVC BAR FL 1,HARD ROCK HOTEL & CASINO,Bar / Tavern,4455 S Paradise Rd,Las Vegas,Nevada,89169-6574,0.0,...,2/21/2013 22:26,"(36.1100828, 115.1538714)",214.0,230.0,233.0,Major,Non-Major,Non-Major,NaN,0

In [64]:
# target variable 
train["NEXT_INSPECTION_GRADE_C_OR_BELOW"]

0        0
1        0
2        1
3        0
4        0
        ..
15668    0
15669    0
15670    0
15671    0
15672    0
Name: NEXT_INSPECTION_GRADE_C_OR_BELOW, Length: 15673, dtype: object

In [65]:
train.shape

(15673, 28)

In [66]:
train.columns

Index(['RESTAURANT_SERIAL_NUMBER', 'RESTAURANT_PERMIT_NUMBER',
       'RESTAURANT_NAME', 'RESTAURANT_LOCATION', 'RESTAURANT_CATEGORY',
       'ADDRESS', 'CITY', 'STATE', 'ZIP', 'CURRENT_DEMERITS', 'CURRENT_GRADE',
       'EMPLOYEE_COUNT', 'MEDIAN_EMPLOYEE_AGE', 'MEDIAN_EMPLOYEE_TENURE',
       'INSPECTION_TIME', 'INSPECTION_TYPE', 'INSPECTION_DEMERITS',
       'VIOLATIONS_RAW', 'RECORD_UPDATED', 'LAT_LONG_RAW', 'FIRST_VIOLATION',
       'SECOND_VIOLATION', 'THIRD_VIOLATION', 'FIRST_VIOLATION_TYPE',
       'SECOND_VIOLATION_TYPE', 'THIRD_VIOLATION_TYPE', 'NUMBER_OF_VIOLATIONS',
       'NEXT_INSPECTION_GRADE_C_OR_BELOW'],
      dtype='object')

In [67]:
# check number of null values per column
train.isnull().sum()

RESTAURANT_SERIAL_NUMBER              0
RESTAURANT_PERMIT_NUMBER              0
RESTAURANT_NAME                      65
RESTAURANT_LOCATION                 200
RESTAURANT_CATEGORY                 130
ADDRESS                              70
CITY                                236
STATE                               209
ZIP                                  59
CURRENT_DEMERITS                    216
CURRENT_GRADE                       308
EMPLOYEE_COUNT                       93
MEDIAN_EMPLOYEE_AGE                  34
MEDIAN_EMPLOYEE_TENURE              297
INSPECTION_TIME                     183
INSPECTION_TYPE                     221
INSPECTION_DEMERITS                 254
VIOLATIONS_RAW                      165
RECORD_UPDATED                      119
LAT_LONG_RAW                         15
FIRST_VIOLATION                     212
SECOND_VIOLATION                     85
THIRD_VIOLATION                      61
FIRST_VIOLATION_TYPE                146
SECOND_VIOLATION_TYPE               267
THIRD_VIOLATION_TYPE                173
NUMBER_OF_VIOLATIONS                169
NEXT_INSPECTION_GRADE_C_OR_BELOW     40
dtype: int64

In [76]:
# take care of null values 
# drop all the rows with null values 
train.dropna(inplace=True)
train.isnull().sum()

RESTAURANT_SERIAL_NUMBER            0
RESTAURANT_PERMIT_NUMBER            0
RESTAURANT_NAME                     0
RESTAURANT_LOCATION                 0
RESTAURANT_CATEGORY                 0
ADDRESS                             0
CITY                                0
STATE                               0
ZIP                                 0
CURRENT_DEMERITS                    0
CURRENT_GRADE                       0
EMPLOYEE_COUNT                      0
MEDIAN_EMPLOYEE_AGE                 0
MEDIAN_EMPLOYEE_TENURE              0
INSPECTION_TIME                     0
INSPECTION_TYPE                     0
INSPECTION_DEMERITS                 0
VIOLATIONS_RAW                      0
RECORD_UPDATED                      0
LAT_LONG_RAW                        0
FIRST_VIOLATION                     0
SECOND_VIOLATION                    0
THIRD_VIOLATION                     0
FIRST_VIOLATION_TYPE                0
SECOND_VIOLATION_TYPE               0
THIRD_VIOLATION_TYPE                0
NUMBER_OF_VIOLATIONS                0
NEXT_INSPECTION_GRADE_C_OR_BELOW    0
dtype: int64

In [78]:
train.shape

(12083, 28)

In [9]:
# datatypes of all columns
train.dtypes

RESTAURANT_SERIAL_NUMBER             object
RESTAURANT_PERMIT_NUMBER             object
RESTAURANT_NAME                      object
RESTAURANT_LOCATION                  object
RESTAURANT_CATEGORY                  object
ADDRESS                              object
CITY                                 object
STATE                                object
ZIP                                  object
CURRENT_DEMERITS                    float64
CURRENT_GRADE                        object
EMPLOYEE_COUNT                      float64
MEDIAN_EMPLOYEE_AGE                 float64
MEDIAN_EMPLOYEE_TENURE              float64
INSPECTION_TIME                      object
INSPECTION_TYPE                      object
INSPECTION_DEMERITS                  object
VIOLATIONS_RAW                       object
RECORD_UPDATED                       object
LAT_LONG_RAW                         object
FIRST_VIOLATION                     float64
SECOND_VIOLATION                    float64
THIRD_VIOLATION                     float64
FIRST_VIOLATION_TYPE                 object
SECOND_VIOLATION_TYPE                object
THIRD_VIOLATION_TYPE                 object
NUMBER_OF_VIOLATIONS                 object
NEXT_INSPECTION_GRADE_C_OR_BELOW     object
dtype: object

In [86]:
# assigning correct data types to columns  

train['RESTAURANT_NAME'] = train['RESTAURANT_NAME'].astype('str')
train['RESTAURANT_LOCATION']=train['RESTAURANT_LOCATION'].astype('str')
train['RESTAURANT_CATEGORY']=train['RESTAURANT_CATEGORY'].astype('str')
train["ADDRESS"]=train["ADDRESS"].astype('str')
train['CITY']=train['CITY'].astype('str')
train["STATE"]=train["STATE"].astype('str')
train["ZIP"]=train["ZIP"].astype('str')
train["CURRENT_GRADE"]=train["CURRENT_GRADE"].astype('str')
train["EMPLOYEE_COUNT"]=train["EMPLOYEE_COUNT"].astype('int64')
train["MEDIAN_EMPLOYEE_AGE"]=train["MEDIAN_EMPLOYEE_AGE"].astype('int64')

# convert every / in INSPECTION_TIME to - and convert column to datetime
train['INSPECTION_TIME'] = train['INSPECTION_TIME'].astype('str')
train['INSPECTION_TIME'] = train['INSPECTION_TIME'].str.replace('/', '-')
train['INSPECTION_TIME'] = pd.to_datetime(train['INSPECTION_TIME'],errors='coerce')
train['INSPECTION_DEMERITS'] = train['INSPECTION_DEMERITS']

train['RECORD_UPDATED'] = train['RECORD_UPDATED'].astype('str')
train['RECORD_UPDATED'] = train['RECORD_UPDATED'].str.replace('/', '-')
train['RECORD_UPDATED'] = pd.to_datetime(train['RECORD_UPDATED'],errors='coerce')
train['RECORD_UPDATED'] = pd.to_datetime(train['RECORD_UPDATED'])


train['FIRST_VIOLATION_TYPE']=train['FIRST_VIOLATION_TYPE'].astype('str')

In [94]:
train['FIRST_VIOLATION_TYPE']=train['FIRST_VIOLATION_TYPE'].astype('str')

0        Critical
1           Major
2        Critical
3           Major
5        Critical
           ...
15668    Critical
15669       Major
15670    Critical
15671       Major
15672       Major
Name: FIRST_VIOLATION_TYPE, Length: 12083, dtype: object

In [ ]:
#outlier analysis